{{#compress}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React App</title>
  </head>
  <body>
    <div id="root"></div>

    <script>
      // Initial state
      const initialState = {
        device: {
          isMobile: '{{{ isMobile }}}'
        }
      };

      window.initialState = initialState;
    </script>
    <script src="/vendor.bundle.js"></script>
    <script src="/main.bundle.js"></script>
  </body>
</html>
{{/compress}}
